PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=super_secret_jwt_key_change_in_production
CLIENT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=AdminPass123!
